---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Features from '../components/Features.astro'
import Products from '../components/Products.astro'
import CTA from '../components/CTA.astro'
---

<Layout title="Planometrica — Проектирование домов с ИИ" transparentHeader={true}>
  <main>
    <Hero />
    <Features />
    <Products />
    <CTA />
  </main>
</Layout>
